**Modules**

1. To use a module it is necessary to **<ins>import<ins>** it first.
1. We frequently used the **<ins>NumPy<ins>** module. Here is a short example:
    ```python
    import numpy as np
    aArray = np.array([[1,2,3], [4,5,6]])
    print("aArray original shape ...\n", aArray)
    ```
1. Exception handling helps to **<ins>troubleshoot a program without it crashing<ins>**.
1. Four components used for Python Exception Handling:
    * try
    * except
    * else
    * finally
1. NumPy arrays are like Python **<ins>lists<ins>**.
1. One of the main benefits of using NumPy arrays is they **<ins>occupy less memory<ins>**.
1. One of the main requirements about the 'dtype' of NumPy arrays is **<ins>NumPy uses only one 'dtype' per array<ins>**.
1. Two of the 10 uses of NumPy:
    * copying and viewing arrays
    * searching, sorting, and counting
1. One of the other libraries we'll use with NumPy is **<ins>matplotlib<ins>**.
1. The shape of a NumPy array **<ins>specifies the dimension, the length (rows), and size (columns)<ins>**.
1. A Tensor is an **<ins>array with 3 or more dimensions<ins>**.
1. It's better using NumPy for Data Analysis than using a Python List because **<ins>NumPy uses a consistent data type across all elements in an array<ins>**.
1. When creating an "empty" array, the elements come from **<ins>remaining data in memory<ins>**.

**Flow Control**
1. Create an if statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable", however if 'age' is less than 25, print "Renting a car is very expensive."

In [8]:
age = 17
if age >= 25:
    print("Renting a car is more affordable")
elif age < 25:
    print("Renting a car is very expensive.")

Renting a car is very expensive.

2. Create and chain an if-else statement: if 'age' is greater than or equal to 25, print "Renting a car is more affordable." If 'age' is less than 25 but greater than or equal to 18, print "Renting a car is very expensive." Finally, if age is less than 18, print "You cannot legally rent a car."

In [9]:
if age >= 25:
    print("Renting a car is more affordable")
elif age < 25 and age >= 18:
    print("Renting a car is very expensive.")
elif age < 18:
    print("You cannot legally rent a car.")

You cannot legally rent a car.

3. Loop over the following string to (1) count all the characters in the string and (2) print out all the vowels -- "The quick brown fox jumps over the lazy dog"

In [14]:
string = "The quick brown fox jumps over the lazy dog"
i, count, vowels = 0, 0, "aeiou"
while i < len(string):
    if string[i] != " ":
        count += 1
    if string[i] in vowels or string[i] in vowels.upper():
        print(string[i])
    i += 1
print("Total consonants in string: ", count)

e
u
i
o
o
u
o
e
e
a
o
Total consonants in string:  35

In [13]:
# A failed attempt to solve question 3
string = "The quick brown fox jumps over the lazy dog"
i, count = 0, 0
vowels = "AEIOU"
for i in string.upper():
    if string[i] != " ":
        count += 1
    if string[i] in vowels:
        print(string[i])
print("Total consonants in string: ", count)

TypeError: string indices must be integers, not 'str'

4. Write a nested loop that prints out every piece of clothing from the couture list, in every fashionable color from the panettone set: couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"] and panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}

In [11]:
couture = ["trousers", "blouse", "bandana", "cumber band", "blazer", "vest", "french beret", "scarf", "stole"]
panettone = {"cerise", "fuchsia", "aqua", "maple", "auburn", "burnt sienna", "gunmetal blue", "Dark Sapphire"}
element, color = 0, 0
for element in couture:
    for color in panettone:
        print(f"{color} {element}")

fuchsia trousers
gunmetal blue trousers
cerise trousers
aqua trousers
burnt sienna trousers
auburn trousers
maple trousers
Dark Sapphire trousers
fuchsia blouse
gunmetal blue blouse
cerise blouse
aqua blouse
burnt sienna blouse
auburn blouse
maple blouse
Dark Sapphire blouse
fuchsia bandana
gunmetal blue bandana
cerise bandana
aqua bandana
burnt sienna bandana
auburn bandana
maple bandana
Dark Sapphire bandana
fuchsia cumber band
gunmetal blue cumber band
cerise cumber band
aqua cumber band
burnt sienna cumber band
auburn cumber band
maple cumber band
Dark Sapphire cumber band
fuchsia blazer
gunmetal blue blazer
cerise blazer
aqua blazer
burnt sienna blazer
auburn blazer
maple blazer
Dark Sapphire blazer
fuchsia vest
gunmetal blue vest
cerise vest
aqua vest
burnt sienna vest
auburn vest
maple vest
Dark Sapphire vest
fuchsia french beret
gunmetal blue french beret
cerise french beret
aqua french beret
burnt sienna french beret
auburn french beret
maple french beret
Dark Sapphire french beret
fuchsia scarf
gunmetal blue scarf
cerise scarf
aqua scarf
burnt sienna scarf
auburn scarf
maple scarf
Dark Sapphire scarf
fuchsia stole
gunmetal blue stole
cerise stole
aqua stole
burnt sienna stole
auburn stole
maple stole
Dark Sapphire stole

5. Use range as a loop to calculate the sum of all the numbers from 1 to 100

In [15]:
i, sum = 0, 0
for i in range(1, 101):
    sum += i
print(sum)

5050

6. Print the second item in this fruits list. ["apple", "banana", "cherry"]

In [17]:
fruit = ["apple", "banana", "cherry"]
print(fruit[1])

banana

7. Change the value from "apple" to "kiwi", in the fruits list. ["apple", "banana", "cherry"]

In [3]:
fruit = ["apple", "banana", "cherry"]
fruit[0] = "kiwi"
print(fruit)

['kiwi', 'banana', 'cherry']

8. Use the append method to add "orange" to the fruits list. ["apple", "banana", "cherry"]

In [19]:
fruit = ["apple", "banana", "cherry"]
fruit.append("orange")
print(fruit)

['apple', 'banana', 'cherry', 'orange']

9. Use the insert method to add "lemon" as the second item in the fruits list. ["apple", "banana", "cherry"]

In [20]:
fruit = ["apple", "banana", "cherry"]
fruit.insert(1, "lemon")
print(fruit)

['apple', 'lemon', 'banana', 'cherry']

10. Use the remove method to remove "banana" from the fruits list. ["apple", "banana", "cherry"]

In [21]:
fruit = ["apple", "banana", "cherry"]
fruit.remove("banana")
print(fruit)

['apple', 'cherry']

11. Use negative indexing to print the 3rd and 2nd to last items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [23]:
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruit[-3], fruit[-2])

kiwi melon

12. Use a range of indexes to print the third, fourth, and fifth item in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [26]:
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
i = 0
for i in range(2, 5):
    print(fruit[i])

cherry
orange
kiwi

13. Use the correct syntax to print the number of items in the list. ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [27]:
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(len(fruit))

7

14. Use the correct syntax to sort this list in reverse order ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [29]:
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruit.sort(reverse=True)
print(fruit)

['orange', 'melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [2]:
# Question 15
import datetime
# save the current date and time to a variable
now = datetime.datetime.now()
# extract full month name
full_month_name = now.strftime("%B")
print(full_month_name)

November

In [30]:
# Question 16
def greet_user(first_name, day_name = "Sunday"):
    return f"Hi, {first_name}! Happy {day_name}!"

print(greet_user("Jason", "Thursday"))

print(greet_user("Lee"))

Hi, Jason! Happy Thursday!
Hi, Lee! Happy Sunday!

17. Write a block of code to handle one of the most common Python exception errors. Select one of the common errors from the curriculum section on Python Exception handling. Have your code example uses the `try`, `except`, `else`, and `finally` components.

In [4]:
# Question 17
# exception handling that uses the try,except, else, and finally components
try:
#    x = "Hello World!"
    print(x)
except SyntaxError:
    print("Syntax error: look for a misspelled command.")
except NameError:
    print("Name error: check that all variables are defined.")
else:
    print("try block ran successfully.")
finally:
    print("Execution completed.")

Name error: check that all variables are defined.
Execution completed.